*.o
*~
.depend
Doxyfile
Doxyfile.bak
.compiled
/templates/test_implicit
/templates/test_templates
/templates/test_variables
/c++11/test_lambda
/cplusplus/112498/calculator
/cplusplus/113214/convertBinary
/cplusplus/114198/exponential
/ctor_dtor/test_ctor_dtor_order
/elance/test/question1
/elance/test/question1-2
/elance/test/question1-3
/elance/test/question1-4
/elance/test/question1-5
/elance/test/question10
/elance/test/question11
/elance/test/question2
/elance/test/question3
/elance/test/question4
/elance/test/question5
/elance/test/question6
/elance/test/question7
/elance/test/question8
/elance/test/question9
/employee/employeeTest
/interqiew/test1-4
/interqiew/test2-1
/interqiew/test2-4
/interqiew/test3-5
/casting/test_casting
/ctor_dtor/default_initialisation
/globals/global_initialisation
/interviewzen/test1
/iterators/test_myiterator
/lottery_checker/lottery_checker
/maxtemplate/maxtemplate
/operators/test_operators
/operators/test_structs
/overloading/class_function_overloads
/public_protected_private/test_friends
/public_protected_private/test_ppp
/regular_expressions/test_capitalisation
/rule_of_three/test0
/rule_of_three/test1
/rule_of_three/test2
/rule_of_three/test3
/rule_of_three/test4
/rule_of_three/test_rule_of_three
/set/test_point2d
/set/test_set_sorting
/sizeof/test_sizeof
/smart_pointers/test_shared_ptr
/subclassing/test_virtual_subclassing
/test_harness/test_test_harness
/thread/test_threads
/time_string_to_float/test_time_string_to_float
/virtual/test_virtuals
/virtual_inheritance/test_virtual_inheritance
/eskill/q32
/move-semantics/test_move_semantics.s
/movie_theatre_tickets/movie_theatre_tickets
/mutable/test_mutable
/cplusplus/113214/Output.txt
/coursera/C++_For_C_Programmers/code/accumulation_c
/coursera/C++_For_C_Programmers/code/accumulation_cpp
/coursera/C++_For_C_Programmers/code/cursor_list
/coursera/C++_For_C_Programmers/code/days_typedef
/coursera/C++_For_C_Programmers/code/dice_probability_c
/coursera/C++_For_C_Programmers/code/dice_probability_cpp
/coursera/C++_For_C_Programmers/code/module1_slide57
/coursera/C++_For_C_Programmers/code/point
/coursera/C++_For_C_Programmers/code/root_find_c
/coursera/C++_For_C_Programmers/code/root_find_cpp
/coursera/C++_For_C_Programmers/code/scope
/coursera/C++_For_C_Programmers/code/slist
timeutils/test_timeutils
detectors/test_detectors
